<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.2.3" />
  <package id="Svg" version="3.4.7" manuallyInstalled="true" />
  <package id="SvgPathProperties" version="1.1.2" manuallyInstalled="true" />
  <package id="System.Drawing.Common" version="5.0.3" />
  <package id="runtime.osx.10.10-x64.CoreCompat.System.Drawing" version="5.8.64" />
</packages>